

#titulo_principal {
    background-color: #8B6F1E;
    color: white;
}

.titulo_secundario {
    background-color: #2F4F2F;
    color: white;
}

.rodape{
    text-align: center;
}

body{
    /*Topografia CSS*/
    background-color: Rgb(0,0,0); /*Cor de fundo*/
    color: Rgb(255,255,255); /*Cor da fonte*/
    font-family: "Roboto", sans-serif; /*Fonte do texto*/
    font-size: 16px; /*Tamanho da fonte - px/em/rem*/
}

#layout{
     display: flex;
}